.App {
  font-family: 'Raleway', sans-serif;
}
.MuiButtonBase-root-27.MuiButton-root-1.MuiButton-contained-12.MuiButton-raised-15,
.MuiButtonBase-root-159.MuiButton-root-133.MuiButton-contained-144.MuiButton-containedPrimary-145.MuiButton-raised-147.MuiButton-raisedPrimary-148.MuiButton-fullWidth-158,
.MuiPaper-root-47.MuiPaper-elevation2-51.MuiPaper-rounded-48,
.MuiPaper-root-6.MuiPaper-elevation2-10.MuiPaper-rounded-7,
.MuiPaper-root-39.MuiPaper-elevation1-42.MuiPaper-rounded-40.MuiExpansionPanel-root-35.MuiExpansionPanel-rounded-36,
.MuiPaper-root-39.MuiPaper-elevation1-42.MuiPaper-rounded-40.MuiCard-root-113.Dashboard-card-25,
.MuiPaper-root-62.MuiPaper-elevation1-65.MuiPaper-rounded-63.MuiExpansionPanel-root-58.MuiExpansionPanel-rounded-59,
.MuiPaper-root-62.MuiPaper-elevation1-65.MuiPaper-rounded-63.MuiCard-root-151.Dashboard-card-48 {
  border-radius: 0%;
}
.MuiButtonBase-root-7.MuiIconButton-root-1 {
  padding: 5px;
}
#accountsList {
  height: 520px;
  min-height: 550px;
  max-height: 520px;
  overflow: auto;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#menu-outer {
  height: auto;
  text-align: center;
  margin-top: 2%;
}

ul#horizontal-list {
	min-width: 100%;
	list-style: none;

  width: 50em;
}
ul#horizontal-list li {
  display: inline;
  margin-right: 5px;
  padding: 15px;
  background-color: black;
  color: white;
}
ul#horizontal-list li:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,.6);
}
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";