.App {
  font-family: 'Raleway', sans-serif;
}
.navbar-brand {
  font-family: 'Srisakdi', cursive;
}
.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  /* the rest of your styling */
}
.MuiButtonBase-root-7.MuiIconButton-root-1 {
  padding: 0;
}
ul.navbar-nav a.nav-link {
  text-transform: uppercase;
  color: hotpink;
  margin: 0 5px 0 0;
  padding: 5px;
}
ul.navbar-nav {
  padding: 0;
  margin: 0;
}
a.nav-link:hover, div.nav-link:hover {
  text-decoration: none;
  color: white;
  background-color: #7B1FA2;
  cursor: pointer;
}
#accountsList {
  height: 520px;
  min-height: 550px;
  max-height: 520px;
  overflow: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
i.material-icons {
  display: inline-flex;
  vertical-align: middle;
}
ul#horizontal-list {
	min-width: 100%;
  list-style: none;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
ul#horizontal-list li {
  display: inline;
  margin: 2px;
  padding: 10px 15px 10px 15px;
  background-color: black;
  color: white;
}
.btn.btn-secondary {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 0px;
  margin: 10px auto;
  padding: 3px 3px 0px 3px;
}
.btn.btn-secondary.active:hover {
  cursor: pointer;
}
ul#horizontal-list li:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,.6);
}
ul#horizontal-list li.active {
  background-color: rgba(0,0,0,.6);
  color: white;
  border: 2px solid black;
}
.MuiTypography-root-59.MuiTypography-body2-67 {
  width: 100%;
  max-width: 100%;
}
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";